/* Container */
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
/* Row */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}
/* Column */
.col {
  flex: 1 0 0%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
/* Fixed column sizes */
.col_1 {
  flex: 0 0 8.333%;
  max-width: 8.333%;
}
.col_2 {
  flex: 0 0 16.666%;
  max-width: 16.666%;
}
.col_3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col_4 {
  flex: 0 0 33.333%;
  max-width: 33.333%;
}
.col_5 {
  flex: 0 0 41.666%;
  max-width: 41.666%;
}
.col_6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col_7 {
  flex: 0 0 58.333%;
  max-width: 58.333%;
}
.col_8 {
  flex: 0 0 66.666%;
  max-width: 66.666%;
}
.col_9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.col-_0 {
  flex: 0 0 83.333%;
  max-width: 83.333%;
}
.col_11 {
  flex: 0 0 91.666%;
  max-width: 91.666%;
}
.col_12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/* Font size */
.fs_16 {
  font-size: 1rem;
}
.fs_18 {
  font-size: 1.125rem;
}
.fs_20 {
  font-size: 1.25rem;
}
.fs_24 {
  font-size: 1.5rem;
}
.fs_30 {
  font-size: 1.875rem;
}
.fs_50 {
  font-size: 4.375rem;
}

/* Font weight */
.fw_200 {
  font-weight: 200;
}
.fw_400 {
  font-weight: 400;
}
.fw_500 {
  font-weight: 500;
}
.fw_700 {
  font-weight: 700;
}
/* Margin */
.m_0 {
  margin: 0;
}
.m_1 {
  margin: 0.25rem;
}
.m_2 {
  margin: 0.5rem;
}
.m_3 {
  margin: 1rem;
}
.m_4 {
  margin: 1.5rem;
}
.m_5 {
  margin: 3rem;
}
/* directions */
.mt_1 {
  margin-top: 0.5rem;
}
.mt_3 {
  margin-top: 1rem;
}
.mb_3 {
  margin-bottom: 1rem;
}
.ms_3 {
  margin-left: 1rem;
}
.me_3 {
  margin-right: 1rem;
}
.mt_md_3 {
  margin-top: 1rem;
}
/* Padding */
.p_0 {
  padding: 0;
}
.p_1 {
  padding: 0.25rem;
}
.p_2 {
  padding: 0.5rem;
}
.p_3 {
  padding: 1rem;
}
.p_4 {
  padding: 1.5rem;
}
.p_5 {
  padding: 3rem;
}

/* directions */
.pt_3 {
  padding-top: 1rem;
}
.pb_3 {
  padding-bottom: 1rem;
}
.ps_3 {
  padding-left: 1rem;
}
.pe_3 {
  padding-right: 1rem;
}
.px_5 {
  padding: 0rem 3rem;
}
/* Line height */
.lh_1 {
  line-height: 1.5rem;
}

/* Responsive Columns and Rows */
@media (max-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
  /* Row */
  /* .row {
    display: flex;
    flex-direction: column;
  } */

  /* Column */
  .col_md_12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col_md_6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col_md_4 {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }

  .col_md_3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  /* Padding */
  .p_md_0 {
    padding: 0;
  }
  .p_md_1 {
    padding: 0.25rem;
  }
  .p_md_2 {
    padding: 0.5rem;
  }
  .p_md_3 {
    padding: 1rem;
  }
  .p_md_4 {
    padding: 1.5rem;
  }
  .p_md_5 {
    padding: 3rem;
  }
}
